.env
/modules/CodeOptimizer.py
/modules/CommandPanel.py
/modules/FeedbackDisplay.py
/modules/ImageAnalyzer.py
/modules/MainWinodow.py
/modules/TextProcessor.py
/modules/VoiceHandler.py
/modules/__pycache__
/gui/__pycache__
/modules/MainWinodow.py